# Railway / local relayer environment
REGISTRY_ADDRESS=0xd0B2aBe1734B3b44564D0e970C33a321bc1af6ee
SEMAPHORE_ADDRESS=0x8A1fd199516489B0Fb7153EB5f075cDAC83c693D
RELAYER_PRIVATE_KEY=
RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
FRONTEND_URL=https://med-vault.xyz
PORT=3000
